.container__small-card {
  display: flex;
  gap: 10px;
  color: #fdfdfd;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #414141;
}

.small-card__photo {
  width: 48%;
  object-fit: contain;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.small-card__description {
  width: 48%;
  a {
    font-size: 1.6vw;
    text-decoration: none;
    color: #FDFDFD;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    color: #414141;
    font-weight: 500;
  }
}


@media screen and (max-width: 768px) {
  .small-card__description {
    h2 {
      font-size: 3.7vw;
    }
  }
}
