.container__menu-bar {
  display: flex;
  justify-content: space-between;
  .menu-bar__navigation {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    .menu-bar__profile {
      width: 40px;
      height: 40px;
      background: radial-gradient(
        circle at 10% 20%,
        rgb(255, 200, 124) 0%,
        rgb(252, 251, 121) 90%
      );
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        background-color: transparent;
        color: #414141;
        font-weight: bold;
        font-size: 1.7rem;
      }
    }
    .menu-bar__nav-links {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2vw;
          letter-spacing: -.09rem;
          color: #595959;
        }
        .active {
          color: #e2e2e2;
        }
      }
    }
  }
  .menu-bar__social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    .social-medias__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .7rem;
      li {
        list-style: none;
        a {
          img {
            height: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 998px) {
  .container__menu-bar {
    .menu-bar__navigation {
      .menu-bar__nav-links {
        li {
          a {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container__menu-bar {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .menu-bar__navigation {
      justify-content: center;
      .menu-bar__nav-links {
        li {
          a {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
